.base-page {

    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    overflow: hidden;

    &.fit-on-height .wrapper {
        position: absolute;
        background-color:#1993d2;
    }

    &.fit-on-height .ratio-fix {
        position: relative;
        width: 100%;
        background-color:grey;
    }

    &.fit-on-width {
        /*overflow: auto;*/
    }

    &.fit-on-width .wrapper {
        position: absolute;
        // background-color:black;
    }

    &.fit-on-width .ratio-fix {
        position: relative;
        width: 100%;
        background-color:grey;
    }

    &.portrait .ratio-fix {
        padding-bottom: percentage(@layout-height-p/@layout-width-p);
    }

    &.landscape .ratio-fix {
        padding-bottom: percentage(@layout-height-l/@layout-width-l);
    }
}
/* add */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -ms-touch-action: none;
}
img, input, select, label {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}
input, select {
    outline: none;
}
.full-w {
    width: 100%;
}
.full-h {
    height: 100%;
}
.fixed {
    position: fixed;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.text-center {
    text-align: center;
}
.fontsize0 {
    font-size: 0;
}
.lineheight0 {
    line-height: 0;
}
