<div class="wrapper">
    <div class="analyse1_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- stars -->
        <img class="abs full-w stars" src="assets/images/common/stars1224.png" />
        <!-- analyse -->
        <div class="abs all-box fontsize0 text-center">
            <!-- title -->
            <img class="full-w title" src="assets/images/analyse/title1.png" />
            <div class="rel analyse-box">
                <img class="full-w" src="assets/images/common/bg-table.png" />
                <div class="abs full-w table-box">
                    <!-- score -->
                    <div class="rel score-box">
                        <img class="full-w" src="assets/images/analyse/score.png" />
                        <div class="abs score">--</div>
                    </div>
                    <!-- board -->
                    <div class="rel board-box">
                        <img class="full-w" src="assets/images/analyse/board.png" />
                        <div class="abs full-h right-count">--</div>
                        <div class="abs full-h wrong-count">--</div>
                    </div>
                    <!-- wrong qa -->
                    <div class="wrong-box">
                        <div class="qa-item qa-item1">
                            <div class="q q1">1. 小黑瓶和安瓶精华的关系正确的是（ <span class="an an1"></span> ）。<span class="wrong">&#10005</span></div>
                            <div class="a a1">
                                <div class="option">
                                    <label>A. 先用小黑再用安瓶精华</label>
                                </div>
                                <div class="option">
                                    <label>B. 市场最强的精华组合</label>
                                </div>
                                <div class="option">
                                    <label>C. 内修复，外防护</label>
                                </div>
                                <div class="option">
                                    <label>D. 年轻肌底的救星</label>
                                </div>
                            </div>
                            <div class="right">正确答案：BCD</div>
                        </div>
                        <div class="qa-item qa-item2">
                            <div class="q q2">2. 植村秀品牌的特点是（ <span class="an an2"></span> ）。<span class="wrong">&#10005</span></div>
                            <div class="a a2">
                                <div class="option">
                                    <label>A. 匠人精神</label>
                                </div>
                                <div class="option">
                                    <label>B. 全球洁颜世家</label>
                                </div>
                                <div class="option">
                                    <label>C. 源自於艺术的灵感</label>
                                </div>
                                <div class="option">
                                    <label>D. 专为亚洲人设计的产品和技巧</label>
                                </div>
                            </div>
                            <div class="right">正确答案：ABCD</div>
                        </div>
                        <div class="qa-item qa-item3">
                            <div class="q q3">3. 微生态护肤就像给你的每一颗细胞筑起围墙，补足肌肤健康的另外50%，让你的护肤不再只做一半。市面上唯一可作用于微生态保养的护肤品是（ <span class="an an3"></span> ）。<span class="wrong">&#10005</span></div>
                            <div class="a a3">
                                <div class="option">
                                    <label>A. 兰蔻安瓶精华</label>
                                </div>
                                <div class="option">
                                    <label>B. 兰蔻大眼精华</label>
                                </div>
                                <div class="option">
                                    <label>C. 兰蔻小黑瓶</label>
                                </div>
                                <div class="option">
                                    <label>D. 兰蔻菁纯精华</label>
                                </div>
                            </div>
                            <div class="right">正确答案：C</div>
                        </div>
                        <div class="qa-item qa-item4">
                            <div class="q q4">4. 植村秀五款洁颜油能满足不同肌肤所需，其中绿茶油能（ <span class="an an4-1"></span> ），琥珀油能（ <span class="an an4-2"></span> ），樱花油能（ <span class="an an4-3"></span> ），山茶花油能（ <span class="an an4-4"></span> ），美白油能（ <span class="an an4-5"></span> ）。<span class="wrong">&#10005</span></div>
                            <div class="a a4">
                                <div class="option">
                                    <label>A. 紧缩毛孔 去除油光</label>
                                </div>
                                <div class="option">
                                    <label>B. 净化PM2.5  抗氧去黄</label>
                                </div>
                                <div class="option">
                                    <label>C. 卓越保湿</label>
                                </div>
                                <div class="option">
                                    <label>D. 匀净肤色 改善黑头</label>
                                </div>
                                <div class="option">
                                    <label>E. 8大精油 奢华护肤</label>
                                </div>
                            </div>
                            <div class="right">正确答案：B E A C D</div>
                        </div>
                        <div class="qa-item qa-item5">
                            <div class="q q5">5. 兰蔻紧致焕白系列能成为抗老界N0`1和美白界NO`1是因为内含（ <span class="an an5-1"></span> ）能3倍束紧真皮细胞，（ <span class="an an5-2"></span> ）能增加皮肤70%密度，（ <span class="an an5-3"></span> ）和（ <span class="an an5-4"></span> ）能2倍提升肌肤色度深层淡斑。<span class="wrong">&#10005</span></div>
                            <div class="a a5">
                                <div class="option">
                                    <label>A. 亚麻籽</label>
                                </div>
                                <div class="option">
                                    <label>B. 网红成份377</label>
                                </div>
                                <div class="option">
                                    <label>C. 溶黑科技</label>
                                </div>
                                <div class="option">
                                    <label>D. 向芯力紧致科技</label>
                                </div>
                            </div>
                            <div class="right">正确答案：A D B C</div>
                        </div>
                        <div class="qa-item qa-item6">
                            <div class="q q6">6. 导致肌肤微生态系统失衡的主要原因是（ <span class="an an6"></span> ），因此 现代人群护肤必须关注肌肤微生态系统的平衡。<span class="wrong">&#10005</span></div>
                            <div class="a a6">
                                <div class="option">
                                    <label>A. 年龄增长</label>
                                </div>
                                <div class="option">
                                    <label>B. 环境污染</label>
                                </div>
                                <div class="option">
                                    <label>C. 过度清洁</label>
                                </div>
                                <div class="option">
                                    <label>D. 生活习惯</label>
                                </div>
                            </div>
                            <div class="right">正确答案：ABD</div>
                        </div>
                        <div class="qa-item qa-item7">
                            <div class="q q7">7. 植村秀砍刀眉笔核心油活配方的好处是（ <span class="an an7-1"></span> ），同时（ <span class="an an7-2"></span> ）的硬度 能让上色部分不结块。<span class="wrong">&#10005</span></div>
                            <div class="a a7">
                                <div class="option">
                                    <label>A. Hard 6 </label>
                                </div>
                                <div class="option">
                                    <label>B. 妆效持久防晕染</label>
                                </div>
                                <div class="option">
                                    <label>C. 易上色</label>
                                </div>
                                <div class="option">
                                    <label>D. Hard 9</label>
                                </div>
                            </div>
                            <div class="right">正确答案：B D</div>
                        </div>
                        <div class="qa-item qa-item8">
                            <div class="q q8">8. 碧欧泉灵魂成份的核心功效是（ <span class="an an8"></span> ）。<span class="wrong">&#10005</span></div>
                            <div class="a a8">
                                <div class="option">
                                    <label>A. 促进细胞再生</label>
                                </div>
                                <div class="option">
                                    <label>B. 深层清洁肌肤</label>
                                </div>
                                <div class="option">
                                    <label>C. 镇定舒缓</label>
                                </div>
                                <div class="option">
                                    <label>D. 抗氧化</label>
                                </div>
                            </div>
                            <div class="right">正确答案：ACD</div>
                        </div>
                        <div class="qa-item qa-item9">
                            <div class="q q9">9. 全新微生态小黑瓶可以提升10大肌肤能力，搭配补水精华能（ <span class="an an9-1"></span> ）,搭配美白精华能（ <span class="an an9-2"></span> ）,搭配紧致精华能（ <span class="an an9-3"></span> ）,搭配修复精华能（ <span class="an an9-4"></span> ）,搭配舒缓精华能（ <span class="an an9-5"></span> ）,搭配高端抗老精华能（ <span class="an an9-6"></span> ）。<span class="wrong">&#10005</span></div>
                            <div class="a a9">
                                <div class="option">
                                    <label>A. 提升表皮层锁水能力</label>
                                </div>
                                <div class="option">
                                    <label>B. 提升肌肤自主修护能力</label>
                                </div>
                                <div class="option">
                                    <label>C. 提升营养的吸收能力</label>
                                </div>
                                <div class="option">
                                    <label>D. 提升肌肤保护能力</label>
                                </div>
                                <div class="option">
                                    <label>E. 提升肌肤代谢能力</label>
                                </div>
                                <div class="option">
                                    <label>F. 提升细胞再生能力</label>
                                </div>
                            </div>
                            <div class="right">正确答案：A E F B D C</div>
                        </div>
                        <div class="qa-item qa-item10">
                            <div class="q q10">10. 兰蔻菁纯粉底液的优势是（ <span class="an an10"></span> ）。<span class="wrong">&#10005</span></div>
                            <div class="a a10">
                                <div class="option">
                                    <label>A. 内含价值1340的菁纯精华，上妆即养肤</label>
                                </div>
                                <div class="option">
                                    <label>B. 添加纯金粉末打造高级金属关泽</label>
                                </div>
                                <div class="option">
                                    <label>C. 附赠专业刷具，轻松上妆</label>
                                </div>
                                <div class="option">
                                    <label>D. 被无限回购</label>
                                </div>
                            </div>
                            <div class="right">正确答案：ABCD</div>
                        </div>
                        <div class="qa-item qa-item11">
                            <div class="q q11">11. 你认为植村秀55号粉底刷值得购买的原因是（ <span class="an an11"></span> ）。<span class="wrong">&#10005</span></div>
                            <div class="a a11">
                                <div class="option">
                                    <label>A. 专业，零技巧上妆</label>
                                </div>
                                <div class="option">
                                    <label>B. 提升粉底液价值</label>
                                </div>
                                <div class="option">
                                    <label>C. 198000根刷毛，上妆快</label>
                                </div>
                                <div class="option">
                                    <label>D. 需搭配花瓣粉底液</label>
                                </div>
                            </div>
                            <div class="right">正确答案：ABC</div>
                        </div>
                        <div class="qa-item qa-item12">
                            <div class="q q12">12. 兰蔻菁纯眼霜被称为（ <span class="an an12-1"></span> ）淡纹神器，它针对纹路的类型 长度 数量 面积 持久，再深的纹路（ <span class="an an12-2"></span> ）也能得到改善。<span class="wrong">&#10005</span></div>
                            <div class="a a12">
                                <div class="option">
                                    <label>A. 3维</label>
                                </div>
                                <div class="option">
                                    <label>B. 6天</label>
                                </div>
                                <div class="option">
                                    <label>C. 5维</label>
                                </div>
                                <div class="option">
                                    <label>D. 28天</label>
                                </div>
                            </div>
                            <div class="right">正确答案：C B</div>
                        </div>
                        <div class="qa-item qa-item13">
                            <div class="q q13">13. 兰蔻持妆粉底液的优势是（ <span class="an an13"></span> ）。<span class="wrong">&#10005</span></div>
                            <div class="a a13">
                                <div class="option">
                                    <label for="A13">A. 磨皮般遮瑕</label>
                                </div>
                                <div class="option">
                                    <label for="B13">B. 妆效自然不假面</label>
                                </div>
                                <div class="option">
                                    <label for="C13">C. 干皮也能用</label>
                                </div>
                                <div class="option">
                                    <label for="D13">D. 12小时不脱妆</label>
                                </div>
                            </div>
                            <div class="right">正确答案：ABCD</div>
                        </div>
                        <div class="qa-item qa-item14">
                            <div class="q q14">14. 阿玛尼挚爱女士香水是阿玛尼先生送给现代女性的礼物，它赞扬现在女性的（ <span class="an an14"></span> ）。<span class="wrong">&#10005</span></div>
                            <div class="a a14">
                                <div class="option">
                                    <label>A. 独立</label>
                                </div>
                                <div class="option">
                                    <label>B. 优雅</label>
                                </div>
                                <div class="option">
                                    <label>C. 坚强</label>
                                </div>
                                <div class="option">
                                    <label>D. 美丽</label>
                                </div>
                            </div>
                            <div class="right">正确答案：ABC</div>
                        </div>
                        <div class="qa-item qa-item15">
                            <div class="q q15">15. 全球销量第一的阿玛尼寄情男士香水的优势在于（ <span class="an an15"></span> ）。<span class="wrong">&#10005</span></div>
                            <div class="a a15">
                                <div class="option">
                                    <label>A. 独家海盐气息，真实模拟海水之味</label>
                                </div>
                                <div class="option">
                                    <label>B. 忠诚度高</label>
                                </div>
                                <div class="option">
                                    <label>C. 最纯正的佛手柑</label>
                                </div>
                                <div class="option">
                                    <label>D. 包装</label>
                                </div>
                            </div>
                            <div class="right">正确答案：ABC</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- btns -->
            <div class="btns">
                <img class="btn-retest" src="" />
                <img class="btn-pass" src="" />
            </div>
        </div>
    </div>
</div>
