<div class="wrapper">
    <div class="analyse3_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- stars -->
        <img class="abs full-w stars" src="assets/images/common/stars1224.png" />
        <!-- analyse -->
        <div class="abs all-box fontsize0 text-center">
            <!-- title -->
            <img class="full-w title" src="assets/images/analyse/title1.png" />
            <div class="rel analyse-box">
                <img class="full-w" src="assets/images/common/bg-table.png" />
                <div class="abs full-w table-box">
                    <!-- score -->
                    <div class="rel score-box">
                        <img class="full-w" src="assets/images/analyse/score.png" />
                        <div class="abs score">--</div>
                    </div>
                    <!-- board -->
                    <div class="rel board-box">
                        <img class="full-w" src="assets/images/analyse/board.png" />
                        <div class="abs full-h right-count">--</div>
                        <div class="abs full-h wrong-count">--</div>
                    </div>
                    <!-- wrong qa -->
                    <div class="wrong-box">
                        <div class="qa-item qa-item1 hide">
                            <div class="q q1">1. 针对几个重点单品，你是否有询问BA销售时遇到的问题并进行解答？</div>
                            <div class="right">正确答案：是</div>
                        </div>
                        <div class="qa-item qa-item2 hide">
                            <div class="q q2">2. 通过观察BA的销售习惯，LD品牌的明星单品被推荐率是否达到30%以上？</div>
                            <div class="right">正确答案：是</div>
                        </div>
                        <div class="qa-item qa-item3 hide">
                            <div class="q q3">3. 你是否针对被推荐率与BA进行沟通，查找问题并解决问题？</div>
                            <div class="right">正确答案：是</div>
                        </div>
                        <div class="qa-item qa-item4 hide">
                            <div class="q q4">4. 你是否遇到解答不了的问题并求助区域培训师一起解决？</div>
                            <div class="right">正确答案：是</div>
                        </div>
                        <div class="qa-item qa-item5 hide">
                            <div class="q q5">5. 你是否有与BA一起共同完成一单重点产品的销售？</div>
                            <div class="right">正确答案：是</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- btns -->
            <div class="btns">
                <img class="btn-retest" src="" />
                <img class="btn-pass" src="" />
            </div>
        </div>
    </div>
</div>
