<div class="wrapper">
    <div class="check_page page">
        <!-- bg -->
        <img class="abs full-w bg" src="assets/images/common/bg.jpg" />
        <!-- stars -->
        <img class="abs full-w stars" src="assets/images/check/stars.png" />
        <div class="abs all-box fontsize0 lineheight0 text-center">
            <!-- title -->
            <img class="full-w title" src="assets/images/check/title.png" />
            <!-- shop -->
            <img class="full-w shop" src="assets/images/check/shop.png" />
            <!-- area -->
            <img class="full-w area" src="assets/images/check/area.png" />
            <!-- back home -->
            <img class="btn-home" src="assets/images/common/btn-home.png" />
        </div>
    </div>
</div>