<div class="wrapper">
    <div class="guide2_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- stars -->
        <img class="abs full-w stars" src="assets/images/common/stars1224.png" />
        <!-- guide -->
        <div class="abs all-box fontsize0">
            <!-- title -->
            <img class="full-w title" src="assets/images/guide/title2.png" />
            <!-- guide content -->
            <div class="rel guide-box">
                <img class="full-w" src="assets/images/common/bg-table.png" />
                <div class="abs full-w content">
                    <img class="full-w" src="assets/images/guide/guide2.png" />
                </div>
            </div>
            <!-- back -->
            <div class="btns text-center">
                <!-- test -->
                <img class="btn-test" src="assets/images/guide/btn-test.png" />
                <!-- back -->
                <img class="btn-back" src="assets/images/common/btn-back.png" />
            </div>
        </div>
    </div>
</div>