<div class="wrapper">
    <div class="modules_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- stars -->
        <img class="abs full-w stars" src="assets/images/common/stars1336.png" />
        <!-- title -->
        <img class="abs full-w title" src="assets/images/modules/title.png" />
        <!-- modules -->
        <div class="abs modules-box text-center fontsize0">
            <!-- title -->
            <img class="full-w title" src="assets/images/modules/title.png" />
            <!-- study -->
            <img class="full-w module-item study" src="assets/images/modules/module-study.png" />
            <!-- test -->
            <img class="full-w module-item test" src="assets/images/modules/module-test.png" />
            <!-- prize -->
            <img class="full-w module-item prize" src="assets/images/modules/module-prize.png" />
            <!-- back home -->
            <img class="btn-home" src="assets/images/common/btn-home.png" />
        </div>
    </div>
</div>