<div class="wrapper">
    <div class="searchshop_page page">
        <!-- bg -->
        <img class="abs full-w bg" src="assets/images/common/bg.jpg" />
        <!-- stars -->
        <img class="abs full-w stars" src="assets/images/search/stars.png" />
        <div class="abs all-box fontsize0 lineheight0 text-center">
            <!-- title -->
            <img class="full-w title" src="assets/images/search/title-shop.png" />
            <div class="rel search-box">
                <!-- bg -->
                <img class="full-w" src="assets/images/search/bg-table.png" />
                <div class="abs input-box">
                    <!-- input -->
                    <img class="full-w" src="assets/images/search/input.png" />
                    <input class="abs shopNum" type="text" maxlength="4" name="shopNum" placeholder="输入店铺编号">
                    <!-- search -->
                    <img class="abs search" src="assets/images/search/search.png" />
                </div>
            </div>
            <!-- back check -->
            <img class="btn-check" src="assets/images/search/btn-check.png" />
        </div>
    </div>
</div>