<div class="wrapper">
    <div class="test2_page page">
        <!-- bg -->
        <img class="full-w bg" src="assets/images/common/bg.jpg" />
        <!-- stars -->
        <img class="abs full-w stars" src="assets/images/common/stars1224.png" />
        <!-- test -->
        <div class="abs all-box fontsize0 text-center">
            <!-- title -->
            <img class="full-w title" src="assets/images/test/title2.png" />
            <div class="rel test-box">
                <img class="full-w" src="assets/images/common/bg-table.png" />
                <div class="abs full-w full-h qa-box">
                    <div class="qa-title qa-title1">兰 蔻</div>
                    <div class="qa-item qa-item1" data-index="1">
                        <div class="q q1">1. BA小黑瓶加量的破冰话术是否引起您的兴趣？</div>
                        <div class="a a1">
                            <input id="ran1" class="ran ran1" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item2" data-index="2">
                        <div class="q q2">2. BA是否能给你至少两个必带小黑瓶的理由？（微生态保养50%肌肤健康/基因保养/3倍吸收/提升肌肤10大能力···）</div>
                        <div class="a a2">
                            <input id="ran2" class="ran ran2" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item3" data-index="3">
                        <div class="q q3">3. BA是否能成功邀约顾客上脸试用大眼精华？</div>
                        <div class="a a3">
                            <input id="ran3" class="ran ran3" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item4" data-index="4">
                        <div class="q q4">4. BA是否掌握大眼精华试用手法？（检测出眼部淤堵处）</div>
                        <div class="a a4">
                            <input id="ran4" class="ran ran4" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item5" data-index="5">
                        <div class="q q5">5. BA是否能说出雪花霜销售金句？（千元以下功效最全，质地最舒服的抗初老面霜。紧致 淡纹 亮白）</div>
                        <div class="a a5">
                            <input id="ran5" class="ran ran5" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item6" data-index="6">
                        <div class="q q6">6. BA是否能提供中高端眼霜升级菁纯眼霜的至少两个理由？</div>
                        <div class="a a6">
                            <input id="ran6" class="ran ran6" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item7" data-index="7">
                        <div class="q q7">7. BA知道兰蔻持妆粉底液在同类型底妆产品里的优势是什么吗？</div>
                        <div class="a a7">
                            <input id="ran7" class="ran ran7" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item8" data-index="8">
                        <div class="q q8">8. 底妆顾客BA是否会第一反应推荐菁纯并讲述优势？</div>
                        <div class="a a8">
                            <input id="ran8" class="ran ran8" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-title qa-title2 bordertop">植 村 秀</div>
                    <div class="qa-item qa-item9" data-index="9">
                        <div class="q q9">1. BA是否知道大量需要清洁的污垢都是油溶性吗？</div>
                        <div class="a a9">
                            <input id="ran9" class="ran ran9" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item10" data-index="10">
                        <div class="q q10">2. BA是否认可 以油溶油的卸妆理念？</div>
                        <div class="a a10">
                            <input id="ran10" class="ran ran10" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item11" data-index="11">
                        <div class="q q11">3. BA是否已经掌握到正确的洁颜油使用方法了？</div>
                        <div class="a a11">
                            <input id="ran11" class="ran ran11" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item12" data-index="12">
                        <div class="q q12">4. A了解到植村秀砍刀眉笔的三大优势了吗？（油活配方/Hard 9硬度/砍刀形状）</div>
                        <div class="a a12">
                            <input id="ran12" class="ran ran12" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item13" data-index="13">
                        <div class="q q13">5. BA知道在砍刀眉笔6个色号里，哪两个颜色是明星色号吗？（02/05）</div>
                        <div class="a a13">
                            <input id="ran13" class="ran ran13" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item14" data-index="14">
                        <div class="q q14">6. BA现在是不是会削砍刀眉笔了？</div>
                        <div class="a a14">
                            <input id="ran14" class="ran ran14" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item15" data-index="15">
                        <div class="q q15">7. BA知道55号粉底刷的三大卖点了吗？（198000根级细绒毛/手工制作/10秒上妆）</div>
                        <div class="a a15">
                            <input id="ran15" class="ran ran15" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item16" data-index="16">
                        <div class="q q16">8. BA知道植村秀55号粉刷是粉底液升值神器吗？可以把五六百粉底液画出一两千的妆效。</div>
                        <div class="a a16">
                            <input id="ran16" class="ran ran16" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-title qa-title3 bordertop">碧 欧 泉</div>
                    <div class="qa-item qa-item17" data-index="17">
                        <div class="q q17">1. BA知道碧欧泉奇迹水是媲美精华功效的精华水吗？</div>
                        <div class="a a17">
                            <input id="ran17" class="ran ran17" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item18" data-index="18">
                        <div class="q q18">2. BA会讲述活源精粹的三大功效吗？</div>
                        <div class="a a18">
                            <input id="ran18" class="ran ran18" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item19" data-index="19">
                        <div class="q q19">3. BA会说出全球男士护肤领域最专业品牌是碧欧泉吗？</div>
                        <div class="a a19">
                            <input id="ran19" class="ran ran19" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item20" data-index="20">
                        <div class="q q20">4. BA知道碧欧泉水动力乳液是全球销量最好的男士补水类产品吗？</div>
                        <div class="a a20">
                            <input id="ran20" class="ran ran20" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item21" data-index="21">
                        <div class="q q21">5. BA知道碧欧泉男士滋养紧致是回柜率最高的男士系列吗？</div>
                        <div class="a a21">
                            <input id="ran21" class="ran ran21" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-title qa-title4 bordertop">阿 玛 尼</div>
                    <div class="qa-item qa-item22" data-index="22">
                        <div class="q q22">1. BA会说出全球销量第一的男士香水是阿玛尼寄情男士香水吗？</div>
                        <div class="a a22">
                            <input id="ran22" class="ran ran22" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                    <div class="qa-item qa-item23" data-index="23">
                        <div class="q q23">2. BA能突出阿玛尼挚爱女士香水的三大卖点吗？（最红包装/献给现代女性的礼物/来自意大利顶级奢侈品牌）</div>
                        <div class="a a23">
                            <input id="ran23" class="ran ran23" type="range" min="1" max="5" step="1" value="1">
                            <div class="score">
                                <div>1分</div>
                                <div>2分</div>
                                <div>3分</div>
                                <div>4分</div>
                                <div>5分</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- btns -->
            <div class="btns">
                <!-- back -->
                <img class="btn-back" src="assets/images/common/btn-back.png" />
                <!-- submit -->
                <img class="btn-submit" src="assets/images/test/btn-submit.png" />
            </div>
        </div>
    </div>
</div>
<!-- loading -->
<div class="abs modal-loading fontsize0 text-center">
    <div class="loader"></div>
</div>
