@import "../base/page";

.page-analyse1 {
    .base-page;
    background-color: #000;
    
    .analyse1_page {
        .bg {
            top: 0;
            left: 0;
        }
        .stars {
            top: 0.2%;
            left: 0;
        }
        .all-box {
            width: 92.6%;
            top: 6.1%;
            left: 3.6%;
            .title {
                margin-bottom: 9.4%;
            }
            .analyse-box {
                margin-bottom: 2.8%; /* 15.8% */
                .table-box {
                    top: 0;
                    left: 0;
                    .score-box {
                        .score {
                            top: 31%;
                            left: 0;
                            right: 0;
                            color: #d42811;
                            font-size: 1.1rem;
                            font-weight: 500;
                            text-shadow: 0 0 10px #fff;
                        }
                    }
                    .board-box {
                        display: inline-block;
                        width: 62%;
                        margin-bottom: 4%;
                        .right-count, .wrong-count {
                            width: 1rem;
                            top: 0;
                            font-size: 0.5rem;
                            font-weight: 500;
                            line-height: 1.1rem;
                            text-shadow: 0 0 6px #fff;
                        }
                        .right-count {
                            left: 18%;
                            color: #d42811;
                        }
                        .wrong-count {
                            right: 15%;
                            color: #c89866;
                        }
                    }
                    .wrong-box {
                        height: 5.71rem;
                        border-radius: 0 0 10px 10px;
                        overflow-x: hidden;
                        overflow-y: scroll;
                        .qa-item {
                            font-size: 0.34rem;
                            line-height: 0.51rem;
                            text-align: left;
                            display: none;
                            .q {
                                padding: 0.4rem;
                                color: #fff;
                                background: rgba(213, 185, 145, 0.4);
                                .wrong {
                                    color: #d42811;
                                    font-size: 0.4rem;
                                    text-shadow: 0 0 2px #fff;
                                }
                            }
                            .a .option {
                                color: #f6d8ac;
                                margin: 0.2rem 0;
                                padding: 0 0.4rem;
                            }
                            .right {
                                padding: 0.4rem;
                                color: #fff;
                                border-top: 1px dashed rgba(213, 185, 145, 0.4);
                            }
                        }
                        .qa-item.show {
                            display: block;
                        }
                    }
                }
            }
            .btn-retest, .btn-pass {
                display: inline-block;
                width: 38.4%;
            }
            .btn-pass {
                margin-left: 8.4%;
            }
        }
    }
}
