@import "../base/page";

.page-loading {
    .base-page;
    background-color: #000;
    
    .loading_page {
        .bg {
            top: 0;
            left: 0;
        }
        .loading {
            top: 60.2%;
            left: 0;
            p {
                margin: 0;
                font-size: 0.52rem;
                color: #b18a56;
            }
        }
    }
}
