@import "../base/page";

.page-searchshop {
    .base-page;
    background-color: #000;
    
    .searchshop_page {
        .bg {
            top: 0;
            left: 0;
        }
        .stars {
            top: 7.2%;
            left: 0;
        }
        .all-box {
            width: 88.2%;
            top: 13.2%;
            left: 6%;
            .title {
                margin-bottom: 34%;
            }
            .search-box {
                margin-bottom: 37.4%;
                .input-box {
                    width: 80%;
                    top: 30%;
                    left: 5.6%;
                    input {
                        width: 80%;
                        height: 1.15rem;
                        top: 0.05rem;
                        left: 11%;
                        color: #b7956a;
                        font-size: 0.4rem;
                        border: none;
                        background: none;
                    }
                    input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                        color: #b7956a;
                    }
                    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                       color: #b7956a;
                    }
                    ::-moz-placeholder { /* Mozilla Firefox 19+ */
                       color: #b7956a;
                    }
                    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
                       color: #b7956a;
                    }
                    input::-ms-input-placeholder { /* Microsoft Edge */
                       color: #b7956a;
                    }
                    .search {
                        width: 30%;
                        top: -36%;
                        right: -13.6%;
                    }
                }
            }
            .btn-check {
                width: 51%;
            }
        }
    }
}
